@(pager: Pager[TwitterUser])(implicit flash: play.api.mvc.Flash)

@main(pager.title, pager.twitterUser)(flash) {

      <div class="row-fluid">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
          <h4>サイト運営者</h4>
          <p>
            <a href="https://twitter.com/omiend" target="_blank">&#64;omiend</a><br />
            映画とロックと猫を愛する、都内で働くエンジニアです。<br />
            お問い合わせはメール、もしくはTwitterまで。
            <div class="col-xs-1 col-md-1 col-sm-1 col-lg-1"><a href="mailto:omiend&#64;gmail.com">Mail</a></div>
            <div class="col-xs-1 col-md-1 col-sm-1 col-lg-1"><a href="https://twitter.com/omiend" target="_blank">Twitter</a></div>
            <div class="col-xs-1 col-md-1 col-sm-1 col-lg-1"><a href="http://www.omiend.jp/" target="_blank">Blog</a></div>
          </p>
          <hr>
        </div>
      </div>

      <div class="row-fluid">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
          <hr>
          <h4>サイトを作った経緯</h4>
          <p>
            omiendは普段ITエンジニアとしてご飯を食べているのですが、最近Scalaというプログラム言語にハマっています。<br />
            そのScala学習の延長線上でなにかWebアプリを作れたら、そして、どうせ作るならば「自分があったら良いな」と思うものを作ろうと思い、このサイトを立ち上げました。<br />
            至らない部分もあるかと思いますが、良かったら楽しんで行ってください。
          </p>
        </div>
      </div>

      <div class="row-fluid">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
          <hr>
          <h4>技術的な事</h4>
          <p>
            <a href="http://www.playframework.com/" target="_blank">Playframework</a><br />
            <a href="https://www.heroku.com/" target="_blank">Heroku</a><br />
            <a href="http://designmodo.github.io/Flat-UI/" target="_blank">Flat UI</a><br />
          </p>
        </div>
      </div>

      <div class="row-fluid">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
          <hr>
          <h4>免責事項</h4>
          <p>
            当サイトの利用は、利用者ご自身の責任でなされるものとします。<br />
            当サイトの運営者は、当サイトが中断しないこと、安全性等を保証しません。<br />
            当サイトの運営者は、当サイトを利用して発生したユーザーに対する損害等について、いかなる責任も負いません。
          </p>
        </div>
      </div>

}
