@(pager: Pager[TwitterUser], timeTableForm: Form[TimeTable])(implicit flash: play.api.mvc.Flash)
@import helper._

@main(pager.title, pager.twitterUser)(flash) {

  <!-- +++++ First Post +++++ -->
  <div id="grey">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <p>
              <img src="@pager.twitterUser.get.twitterProfielImageUrl" alt="Profiel Image" class="img-rounded">
              <ba><a href="https://twitter.com/@pager.twitterUser.get.twitterScreenName">&#64;@pager.twitterUser.get.twitterScreenName</a>
            </p>
            <p><bd>January 18, 2014</bd></p>
            <h4>@pager.twitterUser.get.twitterName</h4>
            <p>@pager.twitterUser.get.twitterDescription</p>
          </div>
        </div><!-- /row -->

        @helper.form(action = routes.Application.insertFestival()) {
          <fieldset>
          @inputText(timeTableForm("festivalName"), '_label -> "フェスの名前")
          @inputText(timeTableForm("stageName[0]"), '_label -> "ステージ名")
          </fieldset>
          <input type="submit" class="btn primary" value="保存">
        }

      </div> <!-- /container -->
  </div><!-- /grey -->


}
