@(pager: Pager[TwitterUser], targetTwitterUser: TwitterUser)(implicit flash: play.api.mvc.Flash)

@main(pager.title, pager.twitterUser)(flash) {

  <!-- +++++ First Post +++++ -->
  <div id="grey">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <p>
            <img src="@targetTwitterUser.twitterProfielImageUrl" alt="Profiel Image" class="img-rounded">
            <ba><a href="https://twitter.com/@targetTwitterUser.twitterScreenName">&#64;@targetTwitterUser.twitterScreenName</a>
          </p>
          <p><bd>January 18, 2014</bd></p>
          <h4>@targetTwitterUser.twitterName</h4>
          <p>@targetTwitterUser.twitterDescription</p>
        </div>
      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /grey -->

  <!-- +++++ Projects Section +++++ -->
  <div class="container pt">
    <div class="row mt centered">
    @for(fes <- pager.dataList){
      <div class="col-lg-4">
        <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port01.jpg" alt="" /></a>
        <p>APE</p>
      </div>
    }
    </div><!-- /row -->
  </div><!-- /container -->

}
