@(pager: Pager[TwitterUser])(implicit flash: play.api.mvc.Flash)

@main(pager.title, pager.twitterUser)(flash) {

<div class="col-xs-12 col-sm-12">
  <p class="pull-right visible-xs">
    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
  </p>
  <div class="jumbotron">
    <h1></h1>
    <p></p>
  </div>

  <div class="row">

    @for(twitterUser <- pager.dataList){
      <div class="col-6 col-sm-6 col-lg-4">
        <h2><img src="@twitterUser.twitterProfielImageUrl" alt="Profiel Image" class="img-rounded"><a href="https://twitter.com/@twitterUser.twitterScreenName">&#64;@twitterUser.twitterScreenName</a></h2>
        <p>音楽と映画と猫を...</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!--/span-->
    }

  </div><!--/row-->
</div><!--/span-->

}
