@(pager: Pager[Festival], targetTwitterUser: TwitterUser)(implicit flash: play.api.mvc.Flash)

@main(pager.title, pager.twitterUser)(flash) {

    <div class="row-fluid">
      <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
         <div class="row-fluid">
           <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2"><img src="@targetTwitterUser.twitterProfielImageUrl" alt="Profiel Image" class="img-rounded"></div>
           <div class="col-xs-10 col-md-10 col-sm-10 col-lg-10">
             @targetTwitterUser.twitterName<br />
             <a href="https://twitter.com/@targetTwitterUser.twitterScreenName" target=”_blank”>&#64;@targetTwitterUser.twitterScreenName</a>
           </div>
         </div>
         <p>
           @targetTwitterUser.twitterDescription
       </p>
     </div><!--/span-->
  </div><!-- /grey -->

  @pager.twitterUser match {
    case Some(user) => {
      @if(user.twitterId==targetTwitterUser.twitterId){
        <div class="row-fluid">
  	      <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
    		    <div class="col-md-3 col-sm-3 col-lg-3">
    		      <p><a class="btn btn-primary btn-xs btn-block" href="@routes.Application.createFestival(user.twitterScreenName)" role="button">新しくフェスを登録する</a></p>
    		    </div>
  		    </div><!--/span-->
		    </div><!--/row-->
      }
    }
    case _ => {}
  }

  <div class="row-fluid">
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
      @pager.dataList.map { fes =>
	      <div class="col-sm-4 col-md-4 col-lg-4">
	        <h3 class="tile-title">@fes.festivalName</h3>
	        <span class="glyphicon glyphicon-heart">=@fes.heartCount</span>
	        <p>
	          @fes.description<br />
            <a class="btn btn-primary  btn-block" href="@routes.Application.timetableByTwitterScreenName(targetTwitterUser.twitterScreenName, fes.id.get)">タイムテーブルを見る</a>
	        </p>
	      </div><!--/span-->
      }
    </div><!--/span-->
  </div><!--/row-->
}
