@(title: String, twitteUser: Option[TwitterUser])(flash: play.api.mvc.Flash)(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <title>@title - Twitter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
  </head>
  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">マイタイテ！</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Work</a></li>
            <li><a href="#">About</a></li>
            @twitteUser match {
              case Some(user) => {
                <li><a href="https://twitter.com/@user.twitterScreenName" target=”_blank”>&#64;@user.twitterScreenName</a></li>
                <li><a href="/twitterLogout">Logout</a></li>
              }
              case _ => {
                <li><a href="/twitterLogin">Login</a></li>
              }
            }
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-12">
            @flash.get("success").map { message => <div class="alert alert-success"><strong>Success!</strong>@message</div> }
            @flash.get("warning").map { message => <div class="alert alert-warning"><strong>Warning!</strong>@message</div> }
            @flash.get("error").map { message => <div class="alert alert-danger"><strong>Error!</strong>@message</div> }
            @content
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/.container-->

    <!-- +++++ Footer Section +++++ -->
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h4>My Links</h4>
            <p>
              <a href="https://twitter.com/omiend" target="_blank">Twitter</a><br/>
            </p>
            <p>&copy; omiend 2013</p>
          </div><!-- /col-lg-4 -->
        </div>
      </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/hover.zoom.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/hover.zoom.conf.js")"></script>

  </body>
</html>
