@(title: String, twitteUser: Option[TwitterUser])(flash: play.api.mvc.Flash)(content: Html)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@title - Twitter</title>
    <meta name="description" content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version."/>
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
    <!-- Loading Bootstrap -->
    <link href="@routes.Assets.at("bootstrap/css/bootstrap.css")" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="@routes.Assets.at("css/main.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/flat-ui.css")" rel="stylesheet">
    <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="@routes.Assets.at("js/html5shiv.js")"></script>
      <script src="@routes.Assets.at("js/respond.min.js")"></script>
    <![endif]-->
    <!-- Load JS here for greater good =============================-->
    <script src="@routes.Assets.at("js/jquery-1.8.3.min.js")"></script>
  </head>
  <body>

   <div class="container-fluid">

      <div class="row-fluid">
        <nav class="navbar navbar-inverse navbar-embossed navbar-fixed-top" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
              <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/">マイタイテ！</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav navbar-right">           
              <li><a href="@routes.Application.about">アバウト</a></li>
              @twitteUser match {
                case Some(user) => {
                  <li class="dropdown">
                    <a href="top.html" class="dropdown-toggle" data-toggle="dropdown">アカウント<b class="caret"></b></a>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu">
                      <li><a href="@routes.Application.indexFestival(1, user.twitterId)">自分のタイムテーブル</a></li>
                      <!-- <li><a href="https://twitter.com/@user.twitterScreenName" target=”_blank”>&#64;@user.twitterScreenName</a></li> -->
                      <li class="divider"></li>
                      <li><a href="/twitterLogout">ログアウト</a></li>
                    </ul>
                  </li>
                }
                case _ => {
                  <li><a href="/twitterLogin">ログイン</a></li>
                }
              }
              <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
             </ul>
          </div><!-- /.navbar-collapse -->
        </nav><!-- /navbar -->
      </div> <!-- /row -->

      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-12">
            @flash.get("success").map { message => <div class="alert alert-success"><strong>Success</strong>@message</div> }
            @flash.get("warning").map { message => <div class="alert alert-warning"><strong>Warning</strong>@message</div> }
            @flash.get("error").map { message => <div class="alert alert-danger"><strong>Error</strong>@message</div> }
            @content
        </div><!--/span-->
      </div><!--/row-->

    </div> <!-- /container -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-7 col-md-7 col-sm-7 col-lg-7">
            <h3 class="footer-title">H3テキストテキストテキストテキスト</h3>
            <p>テキストテキストテキストテキストテキストテキストテキスト</p>
          </div>
        </div>
      </div>
    </footer>
    
    <!-- Load JS here for greater good =============================-->
    <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap-select.js")"></script>
    <!-- 
    <script src="@routes.Assets.at("js/bootstrap-switch.js")"></script>
    <script src="@routes.Assets.at("js/flatui-checkbox.js")"></script>
    <script src="@routes.Assets.at("js/flatui-radio.js")"></script>
    <script src="@routes.Assets.at("js/jquery.tagsinput.js")"></script>
    <script src="@routes.Assets.at("js/jquery.placeholder.js")"></script>
     -->
    <script src="@routes.Assets.at("js/jquery.editable.min.js")"></script>
    <script src="@routes.Assets.at("js/application.js")"></script>
    <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>

  </body>
</html>
