@(title: String, twitterUser: Option[TwitterUser])(flash: play.api.mvc.Flash)(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <title>@title - マイタイテ！</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
  </head>
  <body>

    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">マイタイテ！</a>
        </div>
        <div class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            @twitterUser match {
              case Some(user) => {
                <li><a href="/twitterLogout">&#64;@user.twitterScreenName</a></li>
                <li><a href="/twitterLogout">Logout</a></li>
              }
              case _ => {<li><a href="/twitterLogin">Login</a></li>}
            }
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
            @flash.get("success").map { message => <div class="alert alert-success"><strong>Success!</strong>@message</div> }
            @flash.get("warning").map { message => <div class="alert alert-warning"><strong>Warning!</strong>@message</div> }
            @flash.get("error").map { message => <div class="alert alert-danger"><strong>Error!</strong>@message</div> }
            @content
        </div><!--/span-->

      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; omiend 2013</p>
      </footer>

    </div><!--/.container-->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>

  </body>
</html>
