@(pager: Pager[TwitterUser], targetTwitterUser: TwitterUser, festivalId: Long)(implicit flash: play.api.mvc.Flash)

@main(pager.title, pager.twitterUser)(flash) {

  <!-- +++++ First Post +++++ -->
  <div id="grey">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <p>
              <img src="@targetTwitterUser.twitterProfielImageUrl" alt="Profiel Image" class="img-rounded">
              <ba><a href="https://twitter.com/@targetTwitterUser.twitterScreenName">&#64;@targetTwitterUser.twitterScreenName</a>
            </p>
            <p><bd>January 18, 2014</bd></p>
            <h4>@targetTwitterUser.twitterName</h4>
            <p>@targetTwitterUser.twitterDescription</p>
          </div>
        </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /grey -->

  <!-- +++++ Projects Section +++++ -->
  <a class="btn primary" href="@routes.Application.createPerformance(festivalId)" role="button">アーティストを登録する</a>
  <div class="container pt">
    <div class="row mt centered"> 
      <div class="col-lg-4">
        <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port01.jpg" alt="" /></a>
        <p>APE</p>
      </div>
      <div class="col-lg-4">
        <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port02.jpg" alt="" /></a>
        <p>RAIDERS</p>
      </div>
      <div class="col-lg-4">
        <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port03.jpg" alt="" /></a>
        <p>VIKINGS</p>
      </div>
    </div><!-- /row -->
    <div class="row mt centered"> 
      <div class="col-lg-4">
        <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port04.jpg" alt="" /></a>
        <p>YODA</p>
      </div>
      <div class="col-lg-4">
        <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port05.jpg" alt="" /></a>
        <p>EMPERORS</p>
      </div>
      <div class="col-lg-4">
        <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port06.jpg" alt="" /></a>
        <p>CHIEFS</p>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->

}
