@(pager: Pager[TwitterUser], targetTwitterUser: TwitterUser, festivalId: Long, stageList: Seq[Stage], timeTableList: Seq[TimeTable])(implicit flash: play.api.mvc.Flash)

@main(pager.title, pager.twitterUser)(flash) {

  <!-- +++++ First Post +++++ -->
  <div id="grey">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <p>
              <img src="@targetTwitterUser.twitterProfielImageUrl" alt="Profiel Image" class="img-rounded">
              <ba><a href="https://twitter.com/@targetTwitterUser.twitterScreenName">&#64;@targetTwitterUser.twitterScreenName</a>
            </p>
            <p><bd>January 18, 2014</bd></p>
            <h4>@targetTwitterUser.twitterName</h4>
            <p>@targetTwitterUser.twitterDescription</p>
          </div>
        </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /grey -->

  <!-- +++++ Projects Section +++++ -->
  <div class="container pt">
    @pager.twitterUser match {
      case Some(user) => {
        @if(user.twitterId==targetTwitterUser.twitterId){
          <br />
          <a class="btn primary" href="@routes.Application.createPerformance(festivalId)" role="button">アーティストを登録する</a>
        }
      }
      case _ => {}
    }
    <div class="row mt centered"> 
      <table class="table table-bordered">

        <tr>
          <th></th>
            @for(stage <- stageList){
              <th>@stage.stageName</th>
            }
          <th></th>
          @for(timeTable <- timeTableList){
          <tr>
            <td>@timeTable.timeLabel</td>
              @for(performance <- timeTable.getTimeTableList){
              <td rowspan="@performance.getTableRowSpanNumber">@performance.artist</td>
              }
            <td>@timeTable.timeLabel</td>
          </tr>
          }
        </tr>

      </table>
    </div><!-- /row -->
  </div><!-- /container -->

}
