@(pager: Pager[TwitterUser], targetTwitterUser: TwitterUser, festivalId: Long)(implicit flash: play.api.mvc.Flash)

@main(pager.title, pager.twitterUser)(flash) {

  <!-- +++++ First Post +++++ -->
  <div id="grey">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <p>
              <img src="@targetTwitterUser.twitterProfielImageUrl" alt="Profiel Image" class="img-rounded">
              <ba><a href="https://twitter.com/@targetTwitterUser.twitterScreenName">&#64;@targetTwitterUser.twitterScreenName</a>
            </p>
            <p><bd>January 18, 2014</bd></p>
            <h4>@targetTwitterUser.twitterName</h4>
            <p>@targetTwitterUser.twitterDescription</p>
          </div>
        </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /grey -->

  <!-- +++++ Projects Section +++++ -->

  
  <div class="container pt">
    @pager.twitterUser match {
      case Some(user) => {
        @if(user.twitterId==targetTwitterUser.twitterId){
          <br />
          <a class="btn primary" href="@routes.Application.createPerformance(festivalId)" role="button">アーティストを登録する</a>
        }
      }
      case _ => {}
    }
    <div class="row mt centered"> 
      <table class="table table-bordered">
@*
          <tr>
              <th></th>
              <c:forEach items="${stageList}" var="stage">
                  <th>${f:h(stage.name)}</th>
              </c:forEach>
              <th></th>
          </tr>
          <c:forEach items="${timeTableDtoList}" var="timeTableDto">
              <tr>
                  <td>${f:h(timeTableDto.timeLabel)}</td>
                  <c:forEach items="${timeTableDto.timeTableList}" var="timeTable">
                      <td rowspan="${timeTable.tableRowSpanNumber}">${timeTable.artist}</td>
                  </c:forEach>
                  <td>${f:h(timeTableDto.timeLabel)}</td>
              </tr>
          </c:forEach>
*@
      </table>
    </div><!-- /row -->
  </div><!-- /container -->

}
