@(pager: Pager[TwitterUser])(implicit flash: play.api.mvc.Flash)

@main(pager.title, pager.twitterUser)(flash) {

  <h2>退会</h2>

  <div class="row-fluid">
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
      <hr>
      <p>
        下記ボタンをクリックしますと、登録したすべてのデータを削除してログアウトします。<br />
      </p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <p>
          <form name="test" method="POST" action="@routes.Application.deleteAll">
            <input type="submit" class="btn btn-danger btn-xs btn-block" onclick="if(!confirm('よろしいですか？'))return false" value="退会する"/>
          </form>
        </p>
      </div><!--/span-->
    </div><!--/span-->
  </div><!--/row-->
}
